body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1311px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1838 {
  position:absolute;
  left:446px;
  top:16px;
  width:49px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1840 {
  position:absolute;
  left:17px;
  top:16px;
  width:35px;
  height:35px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:708px;
}
#u1842 {
  position:absolute;
  left:275px;
  top:61px;
  width:1px;
  height:707px;
  color:#CCCCCC;
}
#u1843 {
  position:absolute;
  left:2px;
  top:346px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:2px;
}
#u1844 {
  position:absolute;
  left:-2px;
  top:139px;
  width:273px;
  height:1px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:-8px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  position:absolute;
  left:21px;
  top:150px;
  width:104px;
  height:18px;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:21px;
  top:186px;
  width:135px;
  height:18px;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u1850 {
  position:absolute;
  left:219px;
  top:186px;
  width:57px;
  height:18px;
  color:#00CCFF;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:2px;
}
#u1852 {
  position:absolute;
  left:3px;
  top:217px;
  width:273px;
  height:1px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:-8px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:78px;
}
#u1854 {
  position:absolute;
  left:1px;
  top:61px;
  width:275px;
  height:78px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:31px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1856 {
  position:absolute;
  left:22px;
  top:73px;
  width:104px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1858 {
  position:absolute;
  left:22px;
  top:109px;
  width:138px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1860 {
  position:absolute;
  left:217px;
  top:109px;
  width:57px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u1862 {
  position:absolute;
  left:275px;
  top:61px;
  width:749px;
  height:1px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  position:absolute;
  left:322px;
  top:81px;
  width:44px;
  height:18px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  position:absolute;
  left:415px;
  top:81px;
  width:44px;
  height:18px;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:492px;
  top:81px;
  width:89px;
  height:18px;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u1870 {
  position:absolute;
  left:274px;
  top:126px;
  width:749px;
  height:1px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  position:absolute;
  left:322px;
  top:148px;
  width:59px;
  height:18px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1874 {
  position:absolute;
  left:734px;
  top:148px;
  width:30px;
  height:18px;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1876 {
  position:absolute;
  left:818px;
  top:148px;
  width:30px;
  height:18px;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  position:absolute;
  left:915px;
  top:148px;
  width:30px;
  height:18px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  position:absolute;
  left:322px;
  top:184px;
  width:116px;
  height:18px;
}
#u1881 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1882 {
  position:absolute;
  left:734px;
  top:184px;
  width:23px;
  height:18px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1884 {
  position:absolute;
  left:812px;
  top:184px;
  width:43px;
  height:18px;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  position:absolute;
  left:912px;
  top:184px;
  width:33px;
  height:18px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  position:absolute;
  left:323px;
  top:239px;
  width:30px;
  height:18px;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1890 {
  position:absolute;
  left:734px;
  top:238px;
  width:23px;
  height:18px;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  position:absolute;
  left:818px;
  top:238px;
  width:35px;
  height:18px;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:922px;
  top:235px;
  width:41px;
  height:18px;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC99;
}
#u1896 {
  position:absolute;
  left:371px;
  top:235px;
  width:54px;
  height:25px;
  color:#00CC99;
}
#u1897 {
  position:absolute;
  left:2px;
  top:5px;
  width:50px;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC99;
}
#u1898 {
  position:absolute;
  left:434px;
  top:235px;
  width:54px;
  height:25px;
  color:#00CC99;
}
#u1899 {
  position:absolute;
  left:2px;
  top:5px;
  width:50px;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1900 {
  position:absolute;
  left:324px;
  top:283px;
  width:116px;
  height:18px;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  position:absolute;
  left:699px;
  top:287px;
  width:58px;
  height:18px;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1904 {
  position:absolute;
  left:820px;
  top:287px;
  width:35px;
  height:18px;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1906 {
  position:absolute;
  left:912px;
  top:287px;
  width:33px;
  height:18px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u1908 {
  position:absolute;
  left:275px;
  top:336px;
  width:749px;
  height:1px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  position:absolute;
  left:654px;
  top:81px;
  width:203px;
  height:18px;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1912 {
  position:absolute;
  left:323px;
  top:347px;
  width:52px;
  height:18px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  position:absolute;
  left:323px;
  top:369px;
  width:76px;
  height:18px;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  position:absolute;
  left:323px;
  top:392px;
  width:100px;
  height:18px;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  position:absolute;
  left:323px;
  top:413px;
  width:100px;
  height:18px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:2px;
}
#u1920 {
  position:absolute;
  left:323px;
  top:458px;
  width:272px;
  height:1px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  position:absolute;
  left:471px;
  top:389px;
  width:133px;
  height:18px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:323px;
  top:464px;
  width:133px;
  height:18px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  position:absolute;
  left:323px;
  top:436px;
  width:100px;
  height:18px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1928 {
  position:absolute;
  left:323px;
  top:729px;
  width:117px;
  height:25px;
}
#u1928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  position:absolute;
  left:871px;
  top:729px;
  width:116px;
  height:25px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:5px;
  width:112px;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1931 {
  position:absolute;
  left:1096px;
  top:73px;
  width:217px;
  height:35px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
