body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8295 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u8296 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8297 {
  position:absolute;
  left:17px;
  top:16px;
  width:35px;
  height:35px;
}
#u8298 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8299 {
  position:absolute;
  left:422px;
  top:19px;
  width:97px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8300 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:66px;
}
#u8301 {
  position:absolute;
  left:0px;
  top:64px;
  width:1024px;
  height:66px;
}
#u8302 {
  position:absolute;
  left:2px;
  top:25px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u8303 {
  position:absolute;
  left:68px;
  top:86px;
  width:88px;
  height:22px;
  color:#3399FF;
}
#u8304 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u8305_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:105px;
  height:6px;
}
#u8305 {
  position:absolute;
  left:60px;
  top:117px;
  width:102px;
  height:3px;
}
#u8306 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8307 {
  position:absolute;
  left:274px;
  top:86px;
  width:124px;
  height:22px;
  color:#000000;
}
#u8308 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u8309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8309 {
  position:absolute;
  left:521px;
  top:86px;
  width:103px;
  height:22px;
  color:#000000;
}
#u8310 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u8311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8311 {
  position:absolute;
  left:60px;
  top:168px;
  width:226px;
  height:170px;
}
#u8312 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8313 {
  position:absolute;
  left:286px;
  top:168px;
  width:658px;
  height:170px;
}
#u8314 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8315 {
  position:absolute;
  left:286px;
  top:388px;
  width:658px;
  height:170px;
}
#u8316 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u8317 {
  position:absolute;
  left:528px;
  top:215px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8318 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u8319 {
  position:absolute;
  left:442px;
  top:264px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8320 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8321 {
  position:absolute;
  left:517px;
  top:265px;
  width:151px;
  height:18px;
}
#u8322 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u8323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u8323 {
  position:absolute;
  left:528px;
  top:439px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8324 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u8325 {
  position:absolute;
  left:448px;
  top:488px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8326 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8327 {
  position:absolute;
  left:523px;
  top:489px;
  width:151px;
  height:18px;
}
#u8328 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u8329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8329 {
  position:absolute;
  left:60px;
  top:169px;
  width:226px;
  height:45px;
}
#u8330 {
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8331 {
  position:absolute;
  left:75px;
  top:181px;
  width:38px;
  height:22px;
}
#u8332 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8333 {
  position:absolute;
  left:179px;
  top:181px;
  width:98px;
  height:22px;
}
#u8334 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8335 {
  position:absolute;
  left:95px;
  top:261px;
  width:56px;
  height:22px;
}
#u8336 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u8337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8337 {
  position:absolute;
  left:157px;
  top:253px;
  width:65px;
  height:37px;
  color:#0099FF;
}
#u8338 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8339 {
  position:absolute;
  left:60px;
  top:388px;
  width:226px;
  height:170px;
}
#u8340 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8341 {
  position:absolute;
  left:60px;
  top:389px;
  width:226px;
  height:45px;
}
#u8342 {
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8343 {
  position:absolute;
  left:75px;
  top:401px;
  width:38px;
  height:22px;
}
#u8344 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8345 {
  position:absolute;
  left:179px;
  top:401px;
  width:98px;
  height:22px;
}
#u8346 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8347 {
  position:absolute;
  left:95px;
  top:481px;
  width:56px;
  height:22px;
}
#u8348 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u8349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8349 {
  position:absolute;
  left:157px;
  top:473px;
  width:74px;
  height:37px;
  color:#0099FF;
}
#u8350 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
