body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1011px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14221 {
  position:absolute;
  left:0px;
  top:-9px;
  width:1366px;
  height:1011px;
}
#u14222 {
  position:absolute;
  left:2px;
  top:490px;
  width:1362px;
  word-wrap:break-word;
}
#u14223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:98px;
}
#u14223 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:98px;
}
#u14224 {
  position:absolute;
  left:2px;
  top:41px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u14225 {
  position:absolute;
  left:37px;
  top:11px;
  width:70px;
  height:70px;
}
#u14226 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14227 {
  position:absolute;
  left:126px;
  top:30px;
  width:289px;
  height:37px;
  color:#FFFFFF;
}
#u14228 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u14229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14229 {
  position:absolute;
  left:1103px;
  top:11px;
  width:45px;
  height:45px;
}
#u14230 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14231 {
  position:absolute;
  left:1010px;
  top:11px;
  width:45px;
  height:45px;
}
#u14232 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14233 {
  position:absolute;
  left:1289px;
  top:11px;
  width:45px;
  height:45px;
}
#u14234 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14235 {
  position:absolute;
  left:1196px;
  top:11px;
  width:45px;
  height:45px;
}
#u14236 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14237 {
  position:absolute;
  left:1014px;
  top:61px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u14238 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14239 {
  position:absolute;
  left:1099px;
  top:61px;
  width:56px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u14240 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14241 {
  position:absolute;
  left:1200px;
  top:61px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u14242 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14243 {
  position:absolute;
  left:1293px;
  top:61px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u14244 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:39px;
}
#u14245 {
  position:absolute;
  left:0px;
  top:97px;
  width:1366px;
  height:39px;
}
#u14246 {
  position:absolute;
  left:2px;
  top:12px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u14247 {
  position:absolute;
  left:41px;
  top:104px;
  width:403px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u14248 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  white-space:nowrap;
}
#u14249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:10px;
}
#u14249 {
  position:absolute;
  left:0px;
  top:136px;
  width:1366px;
  height:10px;
}
#u14250 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u14251 {
  position:absolute;
  left:0px;
  top:144px;
  width:187px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u14251_img.selected {
}
#u14251.selected {
}
#u14252 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u14253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14253 {
  position:absolute;
  left:0px;
  top:181px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14253_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14253.mouseOver {
}
#u14253_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14253.selected {
}
#u14254 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u14255 {
  position:absolute;
  left:0px;
  top:220px;
  width:187px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u14255_img.selected {
}
#u14255.selected {
}
#u14256 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u14257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14257 {
  position:absolute;
  left:0px;
  top:257px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14257_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14257.mouseOver {
}
#u14257_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14257.selected {
}
#u14258 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14259 {
  position:absolute;
  left:0px;
  top:297px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14259_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14259.mouseOver {
}
#u14259_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14259.selected {
}
#u14260 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u14261 {
  position:absolute;
  left:0px;
  top:337px;
  width:187px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u14261_img.selected {
}
#u14261.selected {
}
#u14262 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u14263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14263 {
  position:absolute;
  left:0px;
  top:374px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14263_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14263.mouseOver {
}
#u14263_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14263.selected {
}
#u14264 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u14265 {
  position:absolute;
  left:186px;
  top:145px;
  width:88px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u14266 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u14267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u14267 {
  position:absolute;
  left:274px;
  top:145px;
  width:100px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u14268 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u14269 {
  position:absolute;
  left:372px;
  top:145px;
  width:123px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u14270 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u14271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u14271 {
  position:absolute;
  left:996px;
  top:106px;
  width:329px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u14272 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
#u14273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u14273 {
  position:absolute;
  left:0px;
  top:414px;
  width:187px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u14273_img.selected {
}
#u14273.selected {
}
#u14274 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u14275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14275 {
  position:absolute;
  left:0px;
  top:451px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14275_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14275.mouseOver {
}
#u14275_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14275.selected {
}
#u14276 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14277 {
  position:absolute;
  left:0px;
  top:491px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14277_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14277.mouseOver {
}
#u14277_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14277.selected {
}
#u14278 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14279 {
  position:absolute;
  left:0px;
  top:531px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14279_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14279.mouseOver {
}
#u14279_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14279.selected {
}
#u14280 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u14281 {
  position:absolute;
  left:0px;
  top:568px;
  width:187px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u14281_img.selected {
}
#u14281.selected {
}
#u14282 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u14283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14283 {
  position:absolute;
  left:0px;
  top:605px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14283_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14283.mouseOver {
}
#u14283_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14283.selected {
}
#u14284 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14285 {
  position:absolute;
  left:0px;
  top:645px;
  width:187px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u14285_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14285.mouseOver {
}
#u14285_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u14285.selected {
}
#u14286 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u14287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:35px;
}
#u14287 {
  position:absolute;
  left:187px;
  top:172px;
  width:1179px;
  height:35px;
}
#u14288 {
  position:absolute;
  left:2px;
  top:10px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14289 {
  position:absolute;
  left:203px;
  top:181px;
  width:174px;
  height:18px;
}
#u14290 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u14291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14291 {
  position:absolute;
  left:837px;
  top:240px;
  width:59px;
  height:18px;
}
#u14292 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14293 {
  position:absolute;
  left:911px;
  top:237px;
  width:127px;
  height:25px;
}
#u14293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14294 {
  position:absolute;
  left:1052px;
  top:240px;
  width:30px;
  height:18px;
}
#u14295 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14296 {
  position:absolute;
  left:1094px;
  top:237px;
  width:127px;
  height:25px;
}
#u14296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14297 {
  position:absolute;
  left:1240px;
  top:232px;
  width:106px;
  height:30px;
}
#u14298 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u14299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14299 {
  position:absolute;
  left:203px;
  top:284px;
  width:174px;
  height:445px;
}
#u14300 {
  position:absolute;
  left:2px;
  top:214px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14301 {
  position:absolute;
  left:377px;
  top:284px;
  width:969px;
  height:445px;
}
#u14302 {
  position:absolute;
  left:2px;
  top:214px;
  width:965px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14303 {
  position:absolute;
  left:224px;
  top:308px;
  width:117px;
  height:85px;
}
#u14303_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14304 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u14305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u14305 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  color:#333333;
}
#u14305_img.selected {
}
#u14305.selected {
}
#u14306 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14307 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u14308 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u14304_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14309 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
}
#u14310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14310 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u14311 {
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u14312 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
}
#u14313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14313 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u14314 {
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u14315 {
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
}
#u14316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14316 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u14317 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u14318 {
  position:absolute;
  left:224px;
  top:398px;
  width:117px;
  height:85px;
}
#u14318_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14319 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u14320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u14320 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  color:#333333;
}
#u14320_img.selected {
}
#u14320.selected {
}
#u14321 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14322 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u14323 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u14319_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14324 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
}
#u14325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14325 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u14326 {
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u14327 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
}
#u14328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14328 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u14329 {
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u14330 {
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
}
#u14331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14331 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u14332 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  visibility:hidden;
  white-space:nowrap;
}
#u14333 {
  position:absolute;
  left:377px;
  top:286px;
  width:651px;
  height:129px;
}
#u14334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u14334 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u14335 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u14336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
}
#u14336 {
  position:absolute;
  left:155px;
  top:0px;
  width:225px;
  height:34px;
}
#u14337 {
  position:absolute;
  left:2px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u14338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u14338 {
  position:absolute;
  left:380px;
  top:0px;
  width:101px;
  height:34px;
}
#u14339 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u14340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u14340 {
  position:absolute;
  left:481px;
  top:0px;
  width:115px;
  height:34px;
}
#u14341 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u14342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
}
#u14342 {
  position:absolute;
  left:596px;
  top:0px;
  width:95px;
  height:34px;
}
#u14343 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u14344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u14344 {
  position:absolute;
  left:691px;
  top:0px;
  width:91px;
  height:34px;
}
#u14345 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u14346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u14346 {
  position:absolute;
  left:0px;
  top:34px;
  width:155px;
  height:30px;
}
#u14347 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u14348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u14348 {
  position:absolute;
  left:155px;
  top:34px;
  width:225px;
  height:30px;
}
#u14349 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u14350 {
  position:absolute;
  left:380px;
  top:34px;
  width:101px;
  height:30px;
}
#u14351 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u14352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u14352 {
  position:absolute;
  left:481px;
  top:34px;
  width:115px;
  height:30px;
}
#u14353 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u14354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u14354 {
  position:absolute;
  left:596px;
  top:34px;
  width:95px;
  height:30px;
}
#u14355 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u14356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u14356 {
  position:absolute;
  left:691px;
  top:34px;
  width:91px;
  height:30px;
}
#u14357 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u14358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u14358 {
  position:absolute;
  left:0px;
  top:64px;
  width:155px;
  height:30px;
}
#u14359 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u14360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u14360 {
  position:absolute;
  left:155px;
  top:64px;
  width:225px;
  height:30px;
}
#u14361 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u14362 {
  position:absolute;
  left:380px;
  top:64px;
  width:101px;
  height:30px;
}
#u14363 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u14364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u14364 {
  position:absolute;
  left:481px;
  top:64px;
  width:115px;
  height:30px;
}
#u14365 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u14366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u14366 {
  position:absolute;
  left:596px;
  top:64px;
  width:95px;
  height:30px;
}
#u14367 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u14368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u14368 {
  position:absolute;
  left:691px;
  top:64px;
  width:91px;
  height:30px;
}
#u14369 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u14370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u14370 {
  position:absolute;
  left:0px;
  top:94px;
  width:155px;
  height:30px;
}
#u14371 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u14372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u14372 {
  position:absolute;
  left:155px;
  top:94px;
  width:225px;
  height:30px;
}
#u14373 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u14374 {
  position:absolute;
  left:380px;
  top:94px;
  width:101px;
  height:30px;
}
#u14375 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u14376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u14376 {
  position:absolute;
  left:481px;
  top:94px;
  width:115px;
  height:30px;
}
#u14377 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u14378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u14378 {
  position:absolute;
  left:596px;
  top:94px;
  width:95px;
  height:30px;
}
#u14379 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u14380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u14380 {
  position:absolute;
  left:691px;
  top:94px;
  width:91px;
  height:30px;
}
#u14381 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u14382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14382 {
  position:absolute;
  left:512px;
  top:326px;
  width:87px;
  height:18px;
}
#u14383 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u14384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14384 {
  position:absolute;
  left:622px;
  top:326px;
  width:52px;
  height:18px;
}
#u14385 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
