body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8096 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u8097 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8098 {
  position:absolute;
  left:17px;
  top:16px;
  width:35px;
  height:35px;
}
#u8099 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8100 {
  position:absolute;
  left:422px;
  top:19px;
  width:121px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8101 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u8102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:66px;
}
#u8102 {
  position:absolute;
  left:0px;
  top:64px;
  width:1024px;
  height:66px;
}
#u8103 {
  position:absolute;
  left:2px;
  top:25px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u8104 {
  position:absolute;
  left:68px;
  top:86px;
  width:88px;
  height:22px;
  color:#3399FF;
}
#u8105 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u8106_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:105px;
  height:6px;
}
#u8106 {
  position:absolute;
  left:60px;
  top:117px;
  width:102px;
  height:3px;
}
#u8107 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8108 {
  position:absolute;
  left:274px;
  top:86px;
  width:124px;
  height:22px;
  color:#000000;
}
#u8109 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u8110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8110 {
  position:absolute;
  left:521px;
  top:86px;
  width:103px;
  height:22px;
  color:#000000;
}
#u8111 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u8112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8112 {
  position:absolute;
  left:60px;
  top:168px;
  width:226px;
  height:170px;
}
#u8113 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8114 {
  position:absolute;
  left:286px;
  top:168px;
  width:658px;
  height:170px;
}
#u8115 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8116 {
  position:absolute;
  left:119px;
  top:272px;
  width:98px;
  height:22px;
}
#u8117 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8118 {
  position:absolute;
  left:141px;
  top:215px;
  width:47px;
  height:37px;
  color:#0099FF;
}
#u8119 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u8120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8120 {
  position:absolute;
  left:227px;
  top:180px;
  width:59px;
  height:30px;
}
#u8121 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u8122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8122 {
  position:absolute;
  left:60px;
  top:388px;
  width:226px;
  height:170px;
}
#u8123 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8124 {
  position:absolute;
  left:286px;
  top:388px;
  width:658px;
  height:170px;
}
#u8125 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8126 {
  position:absolute;
  left:116px;
  top:492px;
  width:116px;
  height:22px;
}
#u8127 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u8128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8128 {
  position:absolute;
  left:130px;
  top:435px;
  width:83px;
  height:37px;
  color:#0099FF;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u8130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8130 {
  position:absolute;
  left:227px;
  top:400px;
  width:59px;
  height:30px;
}
#u8131 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u8132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:19px;
}
#u8132 {
  position:absolute;
  left:320px;
  top:421px;
  width:299px;
  height:19px;
  font-size:16px;
}
#u8133 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u8134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:2px;
}
#u8134 {
  position:absolute;
  left:320px;
  top:508px;
  width:581px;
  height:1px;
}
#u8135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u8136 {
  position:absolute;
  left:320px;
  top:524px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8137 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8138 {
  position:absolute;
  left:395px;
  top:525px;
  width:151px;
  height:18px;
}
#u8139 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u8140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:19px;
}
#u8140 {
  position:absolute;
  left:320px;
  top:215px;
  width:267px;
  height:19px;
  font-size:16px;
}
#u8141 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u8142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:2px;
}
#u8142 {
  position:absolute;
  left:320px;
  top:288px;
  width:581px;
  height:1px;
}
#u8143 {
  position:absolute;
  left:2px;
  top:-8px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u8144 {
  position:absolute;
  left:320px;
  top:304px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8146 {
  position:absolute;
  left:395px;
  top:305px;
  width:151px;
  height:18px;
}
#u8147 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
