body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6802 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u6803 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6804 {
  position:absolute;
  left:17px;
  top:16px;
  width:35px;
  height:35px;
}
#u6805 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6806 {
  position:absolute;
  left:422px;
  top:19px;
  width:121px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6807 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:66px;
}
#u6808 {
  position:absolute;
  left:0px;
  top:64px;
  width:1024px;
  height:66px;
}
#u6809 {
  position:absolute;
  left:2px;
  top:25px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u6810 {
  position:absolute;
  left:68px;
  top:86px;
  width:88px;
  height:22px;
  color:#3399FF;
}
#u6811 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u6812_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:105px;
  height:6px;
}
#u6812 {
  position:absolute;
  left:60px;
  top:117px;
  width:102px;
  height:3px;
}
#u6813 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6814 {
  position:absolute;
  left:274px;
  top:86px;
  width:124px;
  height:22px;
  color:#000000;
}
#u6815 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6816 {
  position:absolute;
  left:521px;
  top:86px;
  width:103px;
  height:22px;
  color:#000000;
}
#u6817 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u6818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6818 {
  position:absolute;
  left:60px;
  top:168px;
  width:226px;
  height:170px;
}
#u6819 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6820 {
  position:absolute;
  left:286px;
  top:168px;
  width:658px;
  height:170px;
}
#u6821 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6822 {
  position:absolute;
  left:119px;
  top:272px;
  width:98px;
  height:22px;
}
#u6823 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u6824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u6824 {
  position:absolute;
  left:141px;
  top:215px;
  width:47px;
  height:37px;
  color:#0099FF;
}
#u6825 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u6826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6826 {
  position:absolute;
  left:227px;
  top:180px;
  width:59px;
  height:30px;
}
#u6827 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6828 {
  position:absolute;
  left:60px;
  top:388px;
  width:226px;
  height:170px;
}
#u6829 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6830 {
  position:absolute;
  left:286px;
  top:388px;
  width:658px;
  height:170px;
}
#u6831 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6832 {
  position:absolute;
  left:116px;
  top:492px;
  width:116px;
  height:22px;
}
#u6833 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u6834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u6834 {
  position:absolute;
  left:130px;
  top:435px;
  width:83px;
  height:37px;
  color:#0099FF;
}
#u6835 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u6836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6836 {
  position:absolute;
  left:227px;
  top:400px;
  width:59px;
  height:30px;
}
#u6837 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:19px;
}
#u6838 {
  position:absolute;
  left:320px;
  top:421px;
  width:299px;
  height:19px;
  font-size:16px;
}
#u6839 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u6840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:2px;
}
#u6840 {
  position:absolute;
  left:320px;
  top:508px;
  width:581px;
  height:1px;
}
#u6841 {
  position:absolute;
  left:2px;
  top:-8px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6842 {
  position:absolute;
  left:320px;
  top:524px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6843 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6844 {
  position:absolute;
  left:395px;
  top:525px;
  width:151px;
  height:18px;
}
#u6845 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u6846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:19px;
}
#u6846 {
  position:absolute;
  left:320px;
  top:215px;
  width:267px;
  height:19px;
  font-size:16px;
}
#u6847 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u6848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:2px;
}
#u6848 {
  position:absolute;
  left:320px;
  top:288px;
  width:581px;
  height:1px;
}
#u6849 {
  position:absolute;
  left:2px;
  top:-8px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6850 {
  position:absolute;
  left:320px;
  top:304px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6851 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6852 {
  position:absolute;
  left:395px;
  top:305px;
  width:151px;
  height:18px;
}
#u6853 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
