body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1766 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1767 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1768 {
  position:absolute;
  left:20px;
  top:12px;
  width:45px;
  height:45px;
}
#u1769 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1770 {
  position:absolute;
  left:467px;
  top:20px;
  width:97px;
  height:29px;
}
#u1771 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u1772 {
  position:absolute;
  left:0px;
  top:67px;
  width:1024px;
  height:1px;
}
#u1773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1774 {
  position:absolute;
  left:32px;
  top:88px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:9px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1776 {
  position:absolute;
  left:0px;
  top:126px;
  width:1024px;
  height:9px;
}
#u1777 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1778 {
  position:absolute;
  left:966px;
  top:84px;
  width:30px;
  height:30px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1780 {
  position:absolute;
  left:749px;
  top:90px;
  width:207px;
  height:22px;
  font-size:18px;
}
#u1781 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u1782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u1782 {
  position:absolute;
  left:27px;
  top:147px;
  width:50px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0066FF;
}
#u1783 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u1784 {
  position:absolute;
  left:27px;
  top:217px;
  width:50px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u1785 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u1786 {
  position:absolute;
  left:0px;
  top:206px;
  width:1024px;
  height:1px;
}
#u1787 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1788 {
  position:absolute;
  left:966px;
  top:157px;
  width:30px;
  height:30px;
}
#u1789 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1790 {
  position:absolute;
  left:966px;
  top:227px;
  width:30px;
  height:30px;
}
#u1791 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1792 {
  position:absolute;
  left:27px;
  top:80px;
  width:984px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1793 {
  position:absolute;
  left:165px;
  top:67px;
  width:760px;
  height:667px;
  overflow:hidden;
  visibility:hidden;
}
#u1793_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1793_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:751px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1794 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:751px;
}
#u1795 {
  position:absolute;
  left:2px;
  top:368px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1796 {
  position:absolute;
  left:344px;
  top:8px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1797 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u1798 {
  position:absolute;
  left:21px;
  top:8px;
  width:30px;
  height:18px;
  color:#00CCFF;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1800 {
  position:absolute;
  left:706px;
  top:8px;
  width:30px;
  height:18px;
  color:#0099FF;
}
#u1801 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1802 {
  position:absolute;
  left:21px;
  top:55px;
  width:35px;
  height:35px;
}
#u1803 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1804 {
  position:absolute;
  left:67px;
  top:64px;
  width:59px;
  height:18px;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1806 {
  position:absolute;
  left:21px;
  top:52px;
  width:721px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1807 {
  position:absolute;
  left:21px;
  top:122px;
  width:113px;
  height:35px;
  color:#0099FF;
}
#u1808 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809 {
  position:absolute;
  left:163px;
  top:131px;
  width:169px;
  height:18px;
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1811 {
  position:absolute;
  left:21px;
  top:174px;
  width:113px;
  height:35px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u1813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1813 {
  position:absolute;
  left:163px;
  top:183px;
  width:292px;
  height:18px;
}
#u1814 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1815 {
  position:absolute;
  left:613px;
  top:131px;
  width:30px;
  height:18px;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1817 {
  position:absolute;
  left:706px;
  top:131px;
  width:30px;
  height:18px;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:613px;
  top:183px;
  width:30px;
  height:18px;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  position:absolute;
  left:706px;
  top:183px;
  width:30px;
  height:18px;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1823 {
  position:absolute;
  left:21px;
  top:95px;
  width:721px;
  height:227px;
  overflow:hidden;
  visibility:hidden;
}
#u1823_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:227px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1823_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1824 {
  position:absolute;
  left:82px;
  top:0px;
  width:64px;
  height:18px;
}
#u1825 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1826 {
  position:absolute;
  left:82px;
  top:28px;
  width:197px;
  height:25px;
}
#u1826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1827 {
  position:absolute;
  left:82px;
  top:63px;
  width:64px;
  height:18px;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1829 {
  position:absolute;
  left:82px;
  top:91px;
  width:556px;
  height:25px;
}
#u1829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1830 {
  position:absolute;
  left:0px;
  top:43px;
  width:35px;
  height:35px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1832 {
  position:absolute;
  left:47px;
  top:48px;
  width:25px;
  height:25px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834 {
  position:absolute;
  left:0px;
  top:11px;
  width:72px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835 {
  position:absolute;
  left:170px;
  top:156px;
  width:140px;
  height:40px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  position:absolute;
  left:410px;
  top:156px;
  width:140px;
  height:40px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1839 {
  position:absolute;
  left:24px;
  top:122px;
  width:715px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u1839_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1839_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  position:absolute;
  left:82px;
  top:0px;
  width:64px;
  height:18px;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1842 {
  position:absolute;
  left:82px;
  top:28px;
  width:197px;
  height:25px;
}
#u1842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:82px;
  top:63px;
  width:64px;
  height:18px;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1845 {
  position:absolute;
  left:82px;
  top:91px;
  width:556px;
  height:25px;
}
#u1845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1846 {
  position:absolute;
  left:0px;
  top:43px;
  width:35px;
  height:35px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1848 {
  position:absolute;
  left:47px;
  top:48px;
  width:25px;
  height:25px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  position:absolute;
  left:130px;
  top:144px;
  width:140px;
  height:40px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  position:absolute;
  left:370px;
  top:144px;
  width:140px;
  height:40px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1854 {
  position:absolute;
  left:104px;
  top:161px;
  width:245px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1856 {
  position:absolute;
  left:104px;
  top:230px;
  width:227px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u1858 {
  position:absolute;
  left:20px;
  top:141px;
  width:597px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1859 {
  position:absolute;
  left:20px;
  top:212px;
  width:597px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:9px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  position:absolute;
  left:0px;
  top:283px;
  width:1024px;
  height:9px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1862 {
  position:absolute;
  left:32px;
  top:302px;
  width:75px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1864 {
  position:absolute;
  left:966px;
  top:298px;
  width:30px;
  height:30px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1866 {
  position:absolute;
  left:710px;
  top:304px;
  width:246px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u1868 {
  position:absolute;
  left:7px;
  top:315px;
  visibility:hidden;
}
#u1868_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1024px;
  height:453px;
  background-image:none;
}
#u1868_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:400px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:192px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:6px 5px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 5px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 5px 8px rgba(0, 0, 0, 0.349019607843137);
  color:#0033FF;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
  color:#0033FF;
}
#u1872 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u1873 {
  position:absolute;
  left:32px;
  top:18px;
  width:171px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:0px;
  top:57px;
  width:221px;
  height:57px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1877 {
  position:absolute;
  left:32px;
  top:75px;
  width:171px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  position:absolute;
  left:0px;
  top:114px;
  width:221px;
  height:57px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1881 {
  position:absolute;
  left:32px;
  top:132px;
  width:171px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:0px;
  top:171px;
  width:221px;
  height:57px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1885 {
  position:absolute;
  left:32px;
  top:189px;
  width:171px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1887 {
  position:absolute;
  left:0px;
  top:228px;
  width:221px;
  height:57px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1889 {
  position:absolute;
  left:32px;
  top:246px;
  width:171px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1891 {
  position:absolute;
  left:0px;
  top:285px;
  width:221px;
  height:57px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1893 {
  position:absolute;
  left:32px;
  top:303px;
  width:171px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1895 {
  position:absolute;
  left:0px;
  top:342px;
  width:221px;
  height:57px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1897 {
  position:absolute;
  left:32px;
  top:360px;
  width:171px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u1899 {
  position:absolute;
  left:265px;
  top:22px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1901 {
  position:absolute;
  left:265px;
  top:77px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1903 {
  position:absolute;
  left:265px;
  top:132px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1905 {
  position:absolute;
  left:265px;
  top:187px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1907 {
  position:absolute;
  left:265px;
  top:242px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1909 {
  position:absolute;
  left:265px;
  top:297px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1911 {
  position:absolute;
  left:0px;
  top:399px;
  width:1024px;
  height:54px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:19px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1913 {
  position:absolute;
  left:508px;
  top:417px;
  width:38px;
  height:22px;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u1915 {
  position:absolute;
  left:955px;
  top:23px;
  width:31px;
  height:24px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917 {
  position:absolute;
  left:255px;
  top:7px;
  width:753px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1918 {
  position:absolute;
  left:20px;
  top:292px;
  width:743px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:349px;
  top:522px;
  width:340px;
  height:40px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  word-wrap:break-word;
}
#u1921 {
  position:absolute;
  left:369px;
  top:321px;
  visibility:hidden;
}
#u1921_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  background-image:none;
}
#u1921_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  font-size:20px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:62px;
  width:296px;
  word-wrap:break-word;
}
