body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u6060 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6061 {
  position:absolute;
  left:17px;
  top:16px;
  width:35px;
  height:35px;
}
#u6062 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6063 {
  position:absolute;
  left:422px;
  top:19px;
  width:121px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6064 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:66px;
}
#u6065 {
  position:absolute;
  left:0px;
  top:64px;
  width:1024px;
  height:66px;
}
#u6066 {
  position:absolute;
  left:2px;
  top:25px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u6067 {
  position:absolute;
  left:68px;
  top:86px;
  width:88px;
  height:22px;
  color:#3399FF;
}
#u6068 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u6069_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:105px;
  height:6px;
}
#u6069 {
  position:absolute;
  left:60px;
  top:117px;
  width:102px;
  height:3px;
}
#u6070 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6071 {
  position:absolute;
  left:274px;
  top:86px;
  width:124px;
  height:22px;
  color:#000000;
}
#u6072 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6073 {
  position:absolute;
  left:521px;
  top:86px;
  width:103px;
  height:22px;
  color:#000000;
}
#u6074 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u6075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6075 {
  position:absolute;
  left:60px;
  top:168px;
  width:226px;
  height:170px;
}
#u6076 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6077 {
  position:absolute;
  left:286px;
  top:168px;
  width:658px;
  height:170px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u6079 {
  position:absolute;
  left:130px;
  top:221px;
  width:65px;
  height:37px;
  color:#0099FF;
}
#u6080 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6081 {
  position:absolute;
  left:227px;
  top:180px;
  width:59px;
  height:30px;
}
#u6082 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6083 {
  position:absolute;
  left:60px;
  top:388px;
  width:226px;
  height:170px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6085 {
  position:absolute;
  left:286px;
  top:388px;
  width:658px;
  height:170px;
}
#u6086 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6087 {
  position:absolute;
  left:227px;
  top:400px;
  width:59px;
  height:30px;
}
#u6088 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u6089 {
  position:absolute;
  left:490px;
  top:215px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u6090 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6091 {
  position:absolute;
  left:442px;
  top:264px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6092 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6093 {
  position:absolute;
  left:517px;
  top:265px;
  width:151px;
  height:18px;
}
#u6094 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u6095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u6095 {
  position:absolute;
  left:496px;
  top:439px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u6096 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6097 {
  position:absolute;
  left:448px;
  top:488px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6098 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6099 {
  position:absolute;
  left:523px;
  top:489px;
  width:151px;
  height:18px;
}
#u6100 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u6101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u6101 {
  position:absolute;
  left:139px;
  top:455px;
  width:47px;
  height:37px;
  color:#0099FF;
}
#u6102 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
