body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2062 {
  position:absolute;
  left:20px;
  top:12px;
  width:45px;
  height:45px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:470px;
  top:20px;
  width:49px;
  height:29px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2066 {
  position:absolute;
  left:34px;
  top:88px;
  width:198px;
  height:240px;
  overflow:hidden;
}
#u2066_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2066_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:112px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u2069 {
  position:absolute;
  left:23px;
  top:102px;
  width:54px;
  height:45px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u2071 {
  position:absolute;
  left:26px;
  top:22px;
  width:47px;
  height:47px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2073 {
  position:absolute;
  left:93px;
  top:37px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2075 {
  position:absolute;
  left:93px;
  top:116px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u2077 {
  position:absolute;
  left:26px;
  top:85px;
  width:168px;
  height:1px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u2079 {
  position:absolute;
  left:23px;
  top:160px;
  width:168px;
  height:1px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u2081 {
  position:absolute;
  left:28px;
  top:180px;
  width:45px;
  height:42px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:13px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2083 {
  position:absolute;
  left:93px;
  top:192px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u2085 {
  position:absolute;
  left:26px;
  top:239px;
  width:166px;
  height:1px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2087 {
  position:absolute;
  left:0px;
  top:6px;
  width:194px;
  height:74px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:29px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:240px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2066_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:112px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u2091 {
  position:absolute;
  left:23px;
  top:102px;
  width:54px;
  height:45px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u2093 {
  position:absolute;
  left:26px;
  top:22px;
  width:47px;
  height:47px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2095 {
  position:absolute;
  left:93px;
  top:37px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2097 {
  position:absolute;
  left:93px;
  top:116px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u2099 {
  position:absolute;
  left:26px;
  top:85px;
  width:168px;
  height:1px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u2101 {
  position:absolute;
  left:23px;
  top:160px;
  width:168px;
  height:1px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u2103 {
  position:absolute;
  left:28px;
  top:180px;
  width:45px;
  height:42px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:13px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2105 {
  position:absolute;
  left:93px;
  top:192px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u2107 {
  position:absolute;
  left:26px;
  top:239px;
  width:166px;
  height:1px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:73px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2109 {
  position:absolute;
  left:0px;
  top:86px;
  width:194px;
  height:73px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:28px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:240px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2066_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:112px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u2113 {
  position:absolute;
  left:23px;
  top:102px;
  width:54px;
  height:45px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u2115 {
  position:absolute;
  left:26px;
  top:22px;
  width:47px;
  height:47px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2117 {
  position:absolute;
  left:93px;
  top:37px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2119 {
  position:absolute;
  left:93px;
  top:116px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u2121 {
  position:absolute;
  left:26px;
  top:85px;
  width:168px;
  height:1px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u2123 {
  position:absolute;
  left:23px;
  top:160px;
  width:168px;
  height:1px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u2125 {
  position:absolute;
  left:28px;
  top:180px;
  width:45px;
  height:42px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:13px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2127 {
  position:absolute;
  left:93px;
  top:192px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u2129 {
  position:absolute;
  left:26px;
  top:239px;
  width:166px;
  height:1px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2131 {
  position:absolute;
  left:0px;
  top:161px;
  width:194px;
  height:74px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:29px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:67px;
  width:1024px;
  height:1px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135 {
  position:absolute;
  left:263px;
  top:88px;
  width:749px;
  height:578px;
  overflow:hidden;
}
#u2135_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:578px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2135_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:322px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:28px;
  top:20px;
  width:330px;
  height:179px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:82px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:394px;
  top:20px;
  width:323px;
  height:179px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:82px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  position:absolute;
  left:449px;
  top:119px;
  width:93px;
  height:22px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u2144 {
  position:absolute;
  left:543px;
  top:119px;
  width:17px;
  height:22px;
  color:#FF6600;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF6600;
}
#u2146 {
  position:absolute;
  left:557px;
  top:111px;
  width:85px;
  height:22px;
  font-size:28px;
  color:#FF6600;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2148 {
  position:absolute;
  left:162px;
  top:325px;
  width:431px;
  height:53px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:18px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2150 {
  position:absolute;
  left:183px;
  top:342px;
  width:294px;
  height:18px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  position:absolute;
  left:162px;
  top:400px;
  width:431px;
  height:40px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2154 {
  position:absolute;
  left:531px;
  top:331px;
  width:41px;
  height:41px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156 {
  position:absolute;
  left:0px;
  top:6px;
  width:749px;
  height:653px;
  overflow:hidden;
  visibility:hidden;
}
#u2156_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:653px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2156_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:322px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  position:absolute;
  left:157px;
  top:20px;
  width:5px;
  height:35px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  position:absolute;
  left:590px;
  top:20px;
  width:5px;
  height:35px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2163 {
  position:absolute;
  left:590px;
  top:348px;
  width:5px;
  height:35px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:157px;
  top:348px;
  width:5px;
  height:35px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:177px;
  top:5px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2168 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:570px;
  top:5px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2170 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:570px;
  top:363px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2172 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  position:absolute;
  left:177px;
  top:363px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2174 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2175 {
  position:absolute;
  left:282px;
  top:430px;
  width:185px;
  height:22px;
  color:#FFFFFF;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  position:absolute;
  left:157px;
  top:479px;
  width:438px;
  height:59px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:22px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u2179 {
  position:absolute;
  left:340px;
  top:493px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2181 {
  position:absolute;
  left:51px;
  top:39px;
  width:59px;
  height:18px;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  position:absolute;
  left:311px;
  top:39px;
  width:9px;
  height:18px;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  position:absolute;
  left:51px;
  top:76px;
  width:59px;
  height:18px;
}
#u2186 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2187 {
  position:absolute;
  left:261px;
  top:73px;
  width:61px;
  height:18px;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2189 {
  position:absolute;
  left:53px;
  top:139px;
  width:35px;
  height:18px;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2191 {
  position:absolute;
  left:261px;
  top:139px;
  width:61px;
  height:18px;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2193 {
  position:absolute;
  left:51px;
  top:111px;
  width:39px;
  height:18px;
}
#u2194 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2195 {
  position:absolute;
  left:285px;
  top:111px;
  width:37px;
  height:18px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2197 {
  position:absolute;
  left:53px;
  top:167px;
  width:35px;
  height:18px;
}
#u2198 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  position:absolute;
  left:268px;
  top:167px;
  width:53px;
  height:18px;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2135_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:578px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2135_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:322px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  position:absolute;
  left:28px;
  top:20px;
  width:330px;
  height:183px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:84px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2205 {
  position:absolute;
  left:394px;
  top:20px;
  width:323px;
  height:183px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:84px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  position:absolute;
  left:449px;
  top:119px;
  width:93px;
  height:22px;
}
#u2208 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u2209 {
  position:absolute;
  left:543px;
  top:119px;
  width:17px;
  height:22px;
  color:#FF6600;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF6600;
}
#u2211 {
  position:absolute;
  left:557px;
  top:111px;
  width:85px;
  height:22px;
  font-size:28px;
  color:#FF6600;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2213 {
  position:absolute;
  left:162px;
  top:325px;
  width:431px;
  height:53px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:18px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215 {
  position:absolute;
  left:183px;
  top:342px;
  width:294px;
  height:18px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2217 {
  position:absolute;
  left:162px;
  top:400px;
  width:431px;
  height:40px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2219 {
  position:absolute;
  left:531px;
  top:331px;
  width:41px;
  height:41px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221 {
  position:absolute;
  left:3px;
  top:0px;
  visibility:hidden;
}
#u2221_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background-image:none;
}
#u2221_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:322px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2224 {
  position:absolute;
  left:157px;
  top:20px;
  width:5px;
  height:35px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2226 {
  position:absolute;
  left:590px;
  top:20px;
  width:5px;
  height:35px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  position:absolute;
  left:590px;
  top:348px;
  width:5px;
  height:35px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2230 {
  position:absolute;
  left:157px;
  top:348px;
  width:5px;
  height:35px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  position:absolute;
  left:177px;
  top:5px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2233 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2234 {
  position:absolute;
  left:570px;
  top:5px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2235 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2236 {
  position:absolute;
  left:570px;
  top:363px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2237 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  position:absolute;
  left:177px;
  top:363px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2239 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2240 {
  position:absolute;
  left:282px;
  top:430px;
  width:185px;
  height:22px;
  color:#FFFFFF;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242 {
  position:absolute;
  left:157px;
  top:479px;
  width:438px;
  height:59px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:22px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u2244 {
  position:absolute;
  left:340px;
  top:493px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2246 {
  position:absolute;
  left:51px;
  top:39px;
  width:59px;
  height:18px;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2248 {
  position:absolute;
  left:311px;
  top:39px;
  width:9px;
  height:18px;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2250 {
  position:absolute;
  left:51px;
  top:76px;
  width:59px;
  height:18px;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2252 {
  position:absolute;
  left:261px;
  top:73px;
  width:61px;
  height:18px;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  position:absolute;
  left:53px;
  top:139px;
  width:35px;
  height:18px;
}
#u2255 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256 {
  position:absolute;
  left:261px;
  top:139px;
  width:61px;
  height:18px;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2258 {
  position:absolute;
  left:51px;
  top:111px;
  width:39px;
  height:18px;
}
#u2259 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2260 {
  position:absolute;
  left:285px;
  top:111px;
  width:37px;
  height:18px;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2262 {
  position:absolute;
  left:53px;
  top:167px;
  width:35px;
  height:18px;
}
#u2263 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2264 {
  position:absolute;
  left:268px;
  top:167px;
  width:53px;
  height:18px;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
