body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u3985 {
  position:absolute;
  left:20px;
  top:12px;
  width:45px;
  height:45px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3987 {
  position:absolute;
  left:470px;
  top:20px;
  width:49px;
  height:29px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3989 {
  position:absolute;
  left:34px;
  top:88px;
  width:198px;
  height:240px;
  overflow:hidden;
}
#u3989_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3989_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:112px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u3992 {
  position:absolute;
  left:23px;
  top:102px;
  width:54px;
  height:45px;
}
#u3993 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u3994 {
  position:absolute;
  left:26px;
  top:22px;
  width:47px;
  height:47px;
}
#u3995 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3996 {
  position:absolute;
  left:93px;
  top:37px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3998 {
  position:absolute;
  left:93px;
  top:116px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u3999 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u4000 {
  position:absolute;
  left:26px;
  top:85px;
  width:168px;
  height:1px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u4002 {
  position:absolute;
  left:23px;
  top:160px;
  width:168px;
  height:1px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u4004 {
  position:absolute;
  left:28px;
  top:180px;
  width:45px;
  height:42px;
}
#u4005 {
  position:absolute;
  left:2px;
  top:13px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4006 {
  position:absolute;
  left:93px;
  top:192px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u4008 {
  position:absolute;
  left:26px;
  top:239px;
  width:166px;
  height:1px;
}
#u4009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  position:absolute;
  left:0px;
  top:6px;
  width:194px;
  height:74px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:29px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:240px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3989_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:112px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u4014 {
  position:absolute;
  left:23px;
  top:102px;
  width:54px;
  height:45px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u4016 {
  position:absolute;
  left:26px;
  top:22px;
  width:47px;
  height:47px;
}
#u4017 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4018 {
  position:absolute;
  left:93px;
  top:37px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4020 {
  position:absolute;
  left:93px;
  top:116px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u4022 {
  position:absolute;
  left:26px;
  top:85px;
  width:168px;
  height:1px;
}
#u4023 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u4024 {
  position:absolute;
  left:23px;
  top:160px;
  width:168px;
  height:1px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u4026 {
  position:absolute;
  left:28px;
  top:180px;
  width:45px;
  height:42px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:13px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4028 {
  position:absolute;
  left:93px;
  top:192px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u4030 {
  position:absolute;
  left:26px;
  top:239px;
  width:166px;
  height:1px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:73px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4032 {
  position:absolute;
  left:0px;
  top:86px;
  width:194px;
  height:73px;
}
#u4033 {
  position:absolute;
  left:2px;
  top:28px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:240px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3989_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:240px;
}
#u4035 {
  position:absolute;
  left:2px;
  top:112px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u4036 {
  position:absolute;
  left:23px;
  top:102px;
  width:54px;
  height:45px;
}
#u4037 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u4038 {
  position:absolute;
  left:26px;
  top:22px;
  width:47px;
  height:47px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4040 {
  position:absolute;
  left:93px;
  top:37px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4042 {
  position:absolute;
  left:93px;
  top:116px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u4043 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u4044 {
  position:absolute;
  left:26px;
  top:85px;
  width:168px;
  height:1px;
}
#u4045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u4046 {
  position:absolute;
  left:23px;
  top:160px;
  width:168px;
  height:1px;
}
#u4047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u4048 {
  position:absolute;
  left:28px;
  top:180px;
  width:45px;
  height:42px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:13px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4050 {
  position:absolute;
  left:93px;
  top:192px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u4052 {
  position:absolute;
  left:26px;
  top:239px;
  width:166px;
  height:1px;
}
#u4053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4054 {
  position:absolute;
  left:0px;
  top:161px;
  width:194px;
  height:74px;
}
#u4055 {
  position:absolute;
  left:2px;
  top:29px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u4056 {
  position:absolute;
  left:0px;
  top:67px;
  width:1024px;
  height:1px;
}
#u4057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058 {
  position:absolute;
  left:263px;
  top:88px;
  width:749px;
  height:578px;
  overflow:hidden;
}
#u4058_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:578px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4058_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:322px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:28px;
  top:20px;
  width:330px;
  height:179px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:82px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4063 {
  position:absolute;
  left:394px;
  top:20px;
  width:323px;
  height:179px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:82px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4065 {
  position:absolute;
  left:449px;
  top:119px;
  width:93px;
  height:22px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u4067 {
  position:absolute;
  left:543px;
  top:119px;
  width:17px;
  height:22px;
  color:#FF6600;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF6600;
}
#u4069 {
  position:absolute;
  left:557px;
  top:111px;
  width:85px;
  height:22px;
  font-size:28px;
  color:#FF6600;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4071 {
  position:absolute;
  left:0px;
  top:6px;
  width:749px;
  height:653px;
  overflow:hidden;
  visibility:hidden;
}
#u4071_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:653px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4071_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
}
#u4073 {
  position:absolute;
  left:2px;
  top:322px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4074 {
  position:absolute;
  left:157px;
  top:20px;
  width:5px;
  height:35px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4076 {
  position:absolute;
  left:590px;
  top:20px;
  width:5px;
  height:35px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4078 {
  position:absolute;
  left:590px;
  top:348px;
  width:5px;
  height:35px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4080 {
  position:absolute;
  left:157px;
  top:348px;
  width:5px;
  height:35px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4082 {
  position:absolute;
  left:177px;
  top:5px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4083 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4084 {
  position:absolute;
  left:570px;
  top:5px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4085 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4086 {
  position:absolute;
  left:570px;
  top:363px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4087 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4088 {
  position:absolute;
  left:177px;
  top:363px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4089 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4090 {
  position:absolute;
  left:282px;
  top:430px;
  width:185px;
  height:22px;
  color:#FFFFFF;
}
#u4091 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u4092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4092 {
  position:absolute;
  left:157px;
  top:479px;
  width:438px;
  height:59px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:22px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u4094 {
  position:absolute;
  left:340px;
  top:493px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u4095 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4096 {
  position:absolute;
  left:51px;
  top:39px;
  width:59px;
  height:18px;
}
#u4097 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4098 {
  position:absolute;
  left:311px;
  top:39px;
  width:9px;
  height:18px;
}
#u4099 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u4100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4100 {
  position:absolute;
  left:51px;
  top:76px;
  width:59px;
  height:18px;
}
#u4101 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4102 {
  position:absolute;
  left:261px;
  top:73px;
  width:61px;
  height:18px;
}
#u4103 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4104 {
  position:absolute;
  left:53px;
  top:139px;
  width:35px;
  height:18px;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4106 {
  position:absolute;
  left:261px;
  top:139px;
  width:61px;
  height:18px;
}
#u4107 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4108 {
  position:absolute;
  left:51px;
  top:111px;
  width:39px;
  height:18px;
}
#u4109 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4110 {
  position:absolute;
  left:285px;
  top:111px;
  width:37px;
  height:18px;
}
#u4111 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4112 {
  position:absolute;
  left:53px;
  top:167px;
  width:35px;
  height:18px;
}
#u4113 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4114 {
  position:absolute;
  left:268px;
  top:167px;
  width:53px;
  height:18px;
}
#u4115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:230px;
}
#u4116 {
  position:absolute;
  left:236px;
  top:273px;
  width:244px;
  height:230px;
}
#u4117 {
  position:absolute;
  left:2px;
  top:107px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u4118 {
  position:absolute;
  left:253px;
  top:513px;
  width:209px;
  height:19px;
  font-size:16px;
  color:#FF9966;
}
#u4119 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u4120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4120 {
  position:absolute;
  left:257px;
  top:245px;
  width:203px;
  height:18px;
}
#u4121 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u4122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4122 {
  position:absolute;
  left:17px;
  top:313px;
  width:203px;
  height:18px;
}
#u4123 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u4058_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:578px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4058_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4124 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
}
#u4125 {
  position:absolute;
  left:2px;
  top:322px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4126 {
  position:absolute;
  left:28px;
  top:20px;
  width:330px;
  height:183px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:84px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4128 {
  position:absolute;
  left:394px;
  top:20px;
  width:323px;
  height:183px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:84px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4130 {
  position:absolute;
  left:449px;
  top:119px;
  width:93px;
  height:22px;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u4132 {
  position:absolute;
  left:543px;
  top:119px;
  width:17px;
  height:22px;
  color:#FF6600;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF6600;
}
#u4134 {
  position:absolute;
  left:557px;
  top:111px;
  width:85px;
  height:22px;
  font-size:28px;
  color:#FF6600;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4136 {
  position:absolute;
  left:3px;
  top:0px;
  visibility:hidden;
}
#u4136_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background-image:none;
}
#u4136_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:659px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:322px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4139 {
  position:absolute;
  left:157px;
  top:20px;
  width:5px;
  height:35px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4141 {
  position:absolute;
  left:590px;
  top:20px;
  width:5px;
  height:35px;
}
#u4142 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4143 {
  position:absolute;
  left:590px;
  top:348px;
  width:5px;
  height:35px;
}
#u4144 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4145 {
  position:absolute;
  left:157px;
  top:348px;
  width:5px;
  height:35px;
}
#u4146 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  position:absolute;
  left:177px;
  top:5px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4148 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4149 {
  position:absolute;
  left:570px;
  top:5px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4150 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  position:absolute;
  left:570px;
  top:363px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4152 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4153 {
  position:absolute;
  left:177px;
  top:363px;
  width:5px;
  height:35px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4154 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4155 {
  position:absolute;
  left:282px;
  top:430px;
  width:185px;
  height:22px;
  color:#FFFFFF;
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u4157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4157 {
  position:absolute;
  left:157px;
  top:479px;
  width:438px;
  height:59px;
}
#u4158 {
  position:absolute;
  left:2px;
  top:22px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u4159 {
  position:absolute;
  left:340px;
  top:493px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u4160 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4161 {
  position:absolute;
  left:51px;
  top:39px;
  width:59px;
  height:18px;
}
#u4162 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4163 {
  position:absolute;
  left:311px;
  top:39px;
  width:9px;
  height:18px;
}
#u4164 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u4165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4165 {
  position:absolute;
  left:51px;
  top:76px;
  width:59px;
  height:18px;
}
#u4166 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4167 {
  position:absolute;
  left:261px;
  top:73px;
  width:61px;
  height:18px;
}
#u4168 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4169 {
  position:absolute;
  left:53px;
  top:139px;
  width:35px;
  height:18px;
}
#u4170 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4171 {
  position:absolute;
  left:261px;
  top:139px;
  width:61px;
  height:18px;
}
#u4172 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4173 {
  position:absolute;
  left:51px;
  top:111px;
  width:39px;
  height:18px;
}
#u4174 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4175 {
  position:absolute;
  left:285px;
  top:111px;
  width:37px;
  height:18px;
}
#u4176 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4177 {
  position:absolute;
  left:53px;
  top:167px;
  width:35px;
  height:18px;
}
#u4178 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4179 {
  position:absolute;
  left:268px;
  top:167px;
  width:53px;
  height:18px;
}
#u4180 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:230px;
}
#u4181 {
  position:absolute;
  left:236px;
  top:273px;
  width:244px;
  height:230px;
}
#u4182 {
  position:absolute;
  left:2px;
  top:107px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u4183 {
  position:absolute;
  left:253px;
  top:513px;
  width:193px;
  height:19px;
  font-size:16px;
  color:#FF9966;
}
#u4184 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4185 {
  position:absolute;
  left:257px;
  top:245px;
  width:203px;
  height:18px;
}
#u4186 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u4187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4187 {
  position:absolute;
  left:17px;
  top:313px;
  width:203px;
  height:18px;
}
#u4188 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
