body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8631 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u8632 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8633 {
  position:absolute;
  left:464px;
  top:19px;
  width:97px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8634 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8635 {
  position:absolute;
  left:17px;
  top:16px;
  width:35px;
  height:35px;
}
#u8636 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:2px;
}
#u8637 {
  position:absolute;
  left:3px;
  top:60px;
  width:1021px;
  height:1px;
}
#u8638 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8639 {
  position:absolute;
  left:27px;
  top:91px;
  width:25px;
  height:25px;
}
#u8640 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8641 {
  position:absolute;
  left:63px;
  top:93px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u8642 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8643 {
  position:absolute;
  left:293px;
  top:60px;
}
#u8643_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background-image:none;
}
#u8643_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:709px;
}
#u8644 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:708px;
}
#u8645 {
  position:absolute;
  left:2px;
  top:346px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8646 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
}
#u8647 {
  position:absolute;
  left:2px;
  top:346px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8648 {
  position:absolute;
  left:30px;
  top:31px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u8649 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u8650 {
  position:absolute;
  left:589px;
  top:31px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u8651 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8652 {
  position:absolute;
  left:686px;
  top:33px;
  width:20px;
  height:20px;
}
#u8653 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8654 {
  position:absolute;
  left:30px;
  top:88px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u8655 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8656 {
  position:absolute;
  left:639px;
  top:88px;
  width:25px;
  height:25px;
}
#u8657 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8658 {
  position:absolute;
  left:686px;
  top:91px;
  width:20px;
  height:20px;
}
#u8659 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:2px;
}
#u8660 {
  position:absolute;
  left:35px;
  top:72px;
  width:663px;
  height:1px;
}
#u8661 {
  position:absolute;
  left:2px;
  top:-8px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:2px;
}
#u8662 {
  position:absolute;
  left:34px;
  top:125px;
  width:663px;
  height:1px;
}
#u8663 {
  position:absolute;
  left:2px;
  top:-8px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8664 {
  position:absolute;
  left:30px;
  top:141px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u8665 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8666 {
  position:absolute;
  left:30px;
  top:178px;
  width:169px;
  height:18px;
}
#u8667 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u8668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:13px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8668 {
  position:absolute;
  left:30px;
  top:217px;
  width:667px;
  height:13px;
}
#u8669 {
  position:absolute;
  left:2px;
  top:-2px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8670 {
  position:absolute;
  left:30px;
  top:249px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u8671 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u8672 {
  position:absolute;
  left:606px;
  top:249px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u8673 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:2px;
}
#u8674 {
  position:absolute;
  left:30px;
  top:281px;
  width:663px;
  height:1px;
}
#u8675 {
  position:absolute;
  left:2px;
  top:-8px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8676 {
  position:absolute;
  left:30px;
  top:299px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u8677 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u8678 {
  position:absolute;
  left:618px;
  top:299px;
  width:56px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u8679 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u8680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:2px;
}
#u8680 {
  position:absolute;
  left:30px;
  top:331px;
  width:663px;
  height:1px;
}
#u8681 {
  position:absolute;
  left:2px;
  top:-8px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8682 {
  position:absolute;
  left:30px;
  top:346px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u8683 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8684 {
  position:absolute;
  left:686px;
  top:349px;
  width:20px;
  height:20px;
}
#u8685 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8686 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u8686_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background-image:none;
}
#u8686_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8687 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
}
#u8688 {
  position:absolute;
  left:2px;
  top:346px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8689 {
  position:absolute;
  left:30px;
  top:28px;
  width:30px;
  height:30px;
}
#u8690 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8691 {
  position:absolute;
  left:84px;
  top:28px;
  width:145px;
  height:29px;
}
#u8692 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8693 {
  position:absolute;
  left:159px;
  top:111px;
  width:433px;
  height:42px;
}
#u8693_input {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:61px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8694 {
  position:absolute;
  left:159px;
  top:215px;
  width:433px;
  height:61px;
}
#u8695 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  word-wrap:break-word;
}
#u8686_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  visibility:hidden;
  background-image:none;
}
#u8686_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8696 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
}
#u8697 {
  position:absolute;
  left:2px;
  top:346px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8698 {
  position:absolute;
  left:30px;
  top:28px;
  width:30px;
  height:30px;
}
#u8699 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8700 {
  position:absolute;
  left:84px;
  top:28px;
  width:145px;
  height:29px;
}
#u8701 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:218px;
}
#u8702 {
  position:absolute;
  left:219px;
  top:89px;
  width:217px;
  height:217px;
  font-size:20px;
}
#u8703 {
  position:absolute;
  left:2px;
  top:97px;
  width:213px;
  word-wrap:break-word;
}
#u8704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8704 {
  position:absolute;
  left:224px;
  top:328px;
  width:203px;
  height:18px;
  font-size:14px;
}
#u8705 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u8706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:218px;
}
#u8706 {
  position:absolute;
  left:217px;
  top:385px;
  width:217px;
  height:217px;
  font-size:20px;
}
#u8707 {
  position:absolute;
  left:2px;
  top:97px;
  width:213px;
  word-wrap:break-word;
}
#u8708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8708 {
  position:absolute;
  left:222px;
  top:624px;
  width:203px;
  height:18px;
  font-size:14px;
}
#u8709 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u8686_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  visibility:hidden;
  background-image:none;
}
#u8686_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8710 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
}
#u8711 {
  position:absolute;
  left:2px;
  top:346px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8712 {
  position:absolute;
  left:30px;
  top:28px;
  width:30px;
  height:30px;
}
#u8713 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8714 {
  position:absolute;
  left:84px;
  top:28px;
  width:97px;
  height:29px;
}
#u8715 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8716 {
  position:absolute;
  left:30px;
  top:144px;
  width:75px;
  height:22px;
}
#u8717 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8718 {
  position:absolute;
  left:122px;
  top:144px;
  width:538px;
  height:25px;
}
#u8718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8719 {
  position:absolute;
  left:30px;
  top:206px;
  width:75px;
  height:22px;
}
#u8720 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8721 {
  position:absolute;
  left:122px;
  top:206px;
  width:538px;
  height:25px;
}
#u8721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:61px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8722 {
  position:absolute;
  left:159px;
  top:324px;
  width:169px;
  height:61px;
}
#u8723 {
  position:absolute;
  left:2px;
  top:23px;
  width:165px;
  word-wrap:break-word;
}
#u8724 {
  position:absolute;
  left:403px;
  top:324px;
  width:152px;
  height:66px;
}
#u8724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8686_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  visibility:hidden;
  background-image:none;
}
#u8686_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8725 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
}
#u8726 {
  position:absolute;
  left:2px;
  top:346px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8727 {
  position:absolute;
  left:30px;
  top:28px;
  width:30px;
  height:30px;
}
#u8728 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8729 {
  position:absolute;
  left:84px;
  top:28px;
  width:145px;
  height:29px;
}
#u8730 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8731 {
  position:absolute;
  left:159px;
  top:111px;
  width:433px;
  height:42px;
}
#u8731_input {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:61px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8732 {
  position:absolute;
  left:159px;
  top:215px;
  width:433px;
  height:61px;
}
#u8733 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  word-wrap:break-word;
}
#u8686_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  visibility:hidden;
  background-image:none;
}
#u8686_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8734 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
}
#u8735 {
  position:absolute;
  left:2px;
  top:346px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8736 {
  position:absolute;
  left:30px;
  top:28px;
  width:30px;
  height:30px;
}
#u8737 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8738 {
  position:absolute;
  left:84px;
  top:28px;
  width:97px;
  height:29px;
}
#u8739 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8740 {
  position:absolute;
  left:30px;
  top:144px;
  width:56px;
  height:22px;
}
#u8741 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u8742 {
  position:absolute;
  left:122px;
  top:144px;
  width:538px;
  height:25px;
}
#u8742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8743 {
  position:absolute;
  left:30px;
  top:206px;
  width:56px;
  height:22px;
}
#u8744 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u8745 {
  position:absolute;
  left:122px;
  top:206px;
  width:538px;
  height:25px;
}
#u8745_input {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:61px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8746 {
  position:absolute;
  left:159px;
  top:371px;
  width:169px;
  height:61px;
}
#u8747 {
  position:absolute;
  left:2px;
  top:23px;
  width:165px;
  word-wrap:break-word;
}
#u8748 {
  position:absolute;
  left:403px;
  top:371px;
  width:152px;
  height:66px;
}
#u8748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8749 {
  position:absolute;
  left:30px;
  top:268px;
  width:75px;
  height:22px;
}
#u8750 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8751 {
  position:absolute;
  left:122px;
  top:268px;
  width:538px;
  height:25px;
}
#u8751_input {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8752 {
  position:absolute;
  left:0px;
  top:11px;
  width:731px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8753 {
  position:absolute;
  left:0px;
  top:72px;
  width:731px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8754 {
  position:absolute;
  left:677px;
  top:164px;
  width:20px;
  height:20px;
}
#u8755 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8756 {
  position:absolute;
  left:0px;
  top:136px;
  width:731px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8757 {
  position:absolute;
  left:686px;
  top:300px;
  width:20px;
  height:20px;
}
#u8758 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8759 {
  position:absolute;
  left:0px;
  top:282px;
  width:731px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8760 {
  position:absolute;
  left:-4px;
  top:336px;
  width:731px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8643_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  visibility:hidden;
  background-image:none;
}
#u8643_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:709px;
}
#u8761 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:708px;
}
#u8762 {
  position:absolute;
  left:2px;
  top:346px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8763 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:708px;
}
#u8764 {
  position:absolute;
  left:2px;
  top:346px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:111px;
}
#u8765 {
  position:absolute;
  left:307px;
  top:53px;
  width:118px;
  height:110px;
  font-size:20px;
}
#u8766 {
  position:absolute;
  left:2px;
  top:44px;
  width:114px;
  word-wrap:break-word;
}
#u8767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8767 {
  position:absolute;
  left:34px;
  top:292px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u8768 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u8769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u8769 {
  position:absolute;
  left:569px;
  top:293px;
  width:111px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u8770 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u8771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:2px;
}
#u8771 {
  position:absolute;
  left:34px;
  top:324px;
  width:667px;
  height:1px;
}
#u8772 {
  position:absolute;
  left:2px;
  top:-8px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8773 {
  position:absolute;
  left:690px;
  top:293px;
  width:20px;
  height:20px;
}
#u8774 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8775 {
  position:absolute;
  left:336px;
  top:179px;
  width:56px;
  height:22px;
}
#u8776 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u8777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:2px;
}
#u8777 {
  position:absolute;
  left:27px;
  top:127px;
  width:262px;
  height:1px;
}
#u8778 {
  position:absolute;
  left:2px;
  top:-8px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00CCFF;
}
#u8779 {
  position:absolute;
  left:27px;
  top:625px;
  width:237px;
  height:56px;
  font-size:18px;
  color:#00CCFF;
}
#u8780 {
  position:absolute;
  left:2px;
  top:17px;
  width:233px;
  word-wrap:break-word;
}
#u8781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8781 {
  position:absolute;
  left:63px;
  top:151px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u8782 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:2px;
}
#u8783 {
  position:absolute;
  left:27px;
  top:185px;
  width:262px;
  height:1px;
}
#u8784 {
  position:absolute;
  left:2px;
  top:-8px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8785 {
  position:absolute;
  left:27px;
  top:149px;
  width:25px;
  height:25px;
}
#u8786 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8787 {
  position:absolute;
  left:17px;
  top:81px;
  width:272px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8788 {
  position:absolute;
  left:17px;
  top:138px;
  width:272px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
