body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1813 {
  position:absolute;
  left:17px;
  top:16px;
  width:35px;
  height:35px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u1816 {
  position:absolute;
  left:410px;
  top:43px;
  width:84px;
  height:84px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818 {
  position:absolute;
  left:436px;
  top:67px;
  width:33px;
  height:37px;
}
#u1819 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1820 {
  position:absolute;
  left:357px;
  top:143px;
  width:189px;
  height:22px;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u1822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1822 {
  position:absolute;
  left:0px;
  top:184px;
  width:974px;
  height:103px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:44px;
  width:970px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:67px;
}
#u1824 {
  position:absolute;
  left:214px;
  top:202px;
  width:1px;
  height:66px;
}
#u1825 {
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:67px;
}
#u1826 {
  position:absolute;
  left:453px;
  top:202px;
  width:1px;
  height:66px;
}
#u1827 {
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:67px;
}
#u1828 {
  position:absolute;
  left:746px;
  top:202px;
  width:1px;
  height:66px;
}
#u1829 {
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
#u1830 {
  position:absolute;
  left:21px;
  top:209px;
  width:68px;
  height:45px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1832 {
  position:absolute;
  left:109px;
  top:208px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1833 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1834 {
  position:absolute;
  left:109px;
  top:236px;
  width:41px;
  height:18px;
}
#u1835 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:46px;
}
#u1836 {
  position:absolute;
  left:504px;
  top:207px;
  width:72px;
  height:46px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:15px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1838 {
  position:absolute;
  left:334px;
  top:206px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  position:absolute;
  left:334px;
  top:235px;
  width:45px;
  height:18px;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u1842 {
  position:absolute;
  left:250px;
  top:208px;
  width:59px;
  height:44px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u1844 {
  position:absolute;
  left:764px;
  top:219px;
  width:70px;
  height:25px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1846 {
  position:absolute;
  left:593px;
  top:206px;
  width:56px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:593px;
  top:235px;
  width:31px;
  height:18px;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1850 {
  position:absolute;
  left:851px;
  top:206px;
  width:56px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  position:absolute;
  left:851px;
  top:235px;
  width:31px;
  height:18px;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1854 {
  position:absolute;
  left:18px;
  top:713px;
  width:140px;
  height:40px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1856 {
  position:absolute;
  left:761px;
  top:193px;
  width:202px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1857 {
  position:absolute;
  left:489px;
  top:193px;
  width:225px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1858 {
  position:absolute;
  left:216px;
  top:193px;
  width:225px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1859 {
  position:absolute;
  left:7px;
  top:193px;
  width:181px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  position:absolute;
  left:860px;
  top:713px;
  width:140px;
  height:40px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
