body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5176 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u5177 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5178 {
  position:absolute;
  left:17px;
  top:16px;
  width:35px;
  height:35px;
}
#u5179 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5180 {
  position:absolute;
  left:422px;
  top:19px;
  width:97px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5181 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:66px;
}
#u5182 {
  position:absolute;
  left:0px;
  top:64px;
  width:1024px;
  height:66px;
}
#u5183 {
  position:absolute;
  left:2px;
  top:25px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u5184 {
  position:absolute;
  left:68px;
  top:86px;
  width:88px;
  height:22px;
  color:#3399FF;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u5186_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:105px;
  height:6px;
}
#u5186 {
  position:absolute;
  left:60px;
  top:117px;
  width:102px;
  height:3px;
}
#u5187 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5188 {
  position:absolute;
  left:274px;
  top:86px;
  width:124px;
  height:22px;
  color:#000000;
}
#u5189 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u5190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5190 {
  position:absolute;
  left:521px;
  top:86px;
  width:103px;
  height:22px;
  color:#000000;
}
#u5191 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u5192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5192 {
  position:absolute;
  left:60px;
  top:168px;
  width:226px;
  height:170px;
}
#u5193 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5194 {
  position:absolute;
  left:286px;
  top:168px;
  width:658px;
  height:170px;
}
#u5195 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5196 {
  position:absolute;
  left:286px;
  top:388px;
  width:658px;
  height:170px;
}
#u5197 {
  position:absolute;
  left:2px;
  top:77px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5198 {
  position:absolute;
  left:528px;
  top:215px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5199 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5200 {
  position:absolute;
  left:442px;
  top:264px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5201 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5202 {
  position:absolute;
  left:517px;
  top:265px;
  width:151px;
  height:18px;
}
#u5203 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u5204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5204 {
  position:absolute;
  left:528px;
  top:439px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5205 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5206 {
  position:absolute;
  left:448px;
  top:488px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5207 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5208 {
  position:absolute;
  left:523px;
  top:489px;
  width:151px;
  height:18px;
}
#u5209 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u5210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5210 {
  position:absolute;
  left:60px;
  top:169px;
  width:226px;
  height:45px;
}
#u5211 {
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5212 {
  position:absolute;
  left:75px;
  top:181px;
  width:38px;
  height:22px;
}
#u5213 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5214 {
  position:absolute;
  left:179px;
  top:181px;
  width:98px;
  height:22px;
}
#u5215 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u5216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5216 {
  position:absolute;
  left:95px;
  top:261px;
  width:56px;
  height:22px;
}
#u5217 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u5218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5218 {
  position:absolute;
  left:157px;
  top:253px;
  width:65px;
  height:37px;
  color:#0099FF;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5220 {
  position:absolute;
  left:60px;
  top:388px;
  width:226px;
  height:170px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:77px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5222 {
  position:absolute;
  left:60px;
  top:389px;
  width:226px;
  height:45px;
}
#u5223 {
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5224 {
  position:absolute;
  left:75px;
  top:401px;
  width:38px;
  height:22px;
}
#u5225 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5226 {
  position:absolute;
  left:179px;
  top:401px;
  width:98px;
  height:22px;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u5228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5228 {
  position:absolute;
  left:95px;
  top:481px;
  width:56px;
  height:22px;
}
#u5229 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u5230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5230 {
  position:absolute;
  left:157px;
  top:473px;
  width:74px;
  height:37px;
  color:#0099FF;
}
#u5231 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
